.form-area{
    border-radius: 1rem;
    margin: 1rem 0;
}


.text-area{
    align-self: center;
}


.error{
    color: red;
    font-size: 13px;
    font-weight: bold;
    display: block;
    display: none;
}